
:root {
    --link: #182d80;
    --heading-color: #173f68;
}

a:link,
a:visited {
    color: var(--link);
}

a:hover,
a:focus {
    color: var(--heading-color);
}

h1 {
    font-family: "Montserrat", Helvetica, sans-serif;
}

p {
    font-family: "Courier Prime", "Courier New", monospace;
}